{% load static %}


        <div class="widget">
            <div class="banner medium-opacity bluesh">
                <div style="background-image: url(images/resources/baner-widgetbg.jpg)" class="bg-image"></div>
                <div class="baner-top">
                    <span><img src="images/book-icon.png" alt=""></span>
                    <i class="fa fa-ellipsis-h"></i>
                </div>
                <div class="banermeta">
                    <p>
                        create your own favourit page.
                    </p>
                    <span>like them all</span>
                    <!-- <a href="#" title="" data-ripple="">start now!</a> -->
                </div>
            </div>											
        </div>
