{% extends 'teacher_template/teacher_base.html'  %}

{% block main_content %}
{% load static %}

<div class="container">
    <div class="main-body">
    
          <!-- Breadcrumb -->
         
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    {% if teacher.profile_pic %}
                                         <img src="{{ teacher.profile_pic.url }}"  alt="Admin" class="rounded-circle" width="150">
                                         {% else %}
                                         <img src="{% static 'media/img_2.png' %}"  alt="Admin" class="rounded-circle" width="150">
                                         {% endif %}
                                         <form action="{% url 'teacher_profile_pic' %}" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
											
											<button class="fileContainer">
												<i class="fa fa-camera-retro"></i>
												<input type="file" name="profile_pic"/>
                                            </button>
											<button class="btn btn-outline-primary" >Upload</button>									
                                        </form>
                    <div class="mt-10">
                      <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                      <p class="text-secondary mb-1">{{ teacher.designation }}</p>
                      <p class="text-muted font-size-sm">{{ teacher.qualification }}</p>
                      <!-- <button class="btn btn-primary">Follow</button>
                      <button class="btn btn-outline-primary">Message</button> -->
                    
                    </div>
                  </div>
                </div>
              </div>
             
              <div class="card mt-12">
                <form action="{% url 'update_teacher' %}" method="post" enctype="multipart/form-data" >
                  {% csrf_token %}
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><i class="fa fa-linkedin" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;LinkdIn</h6>
                    <span class="text-secondary"><input type="text" name="linkdin" class="form-control" value="{{ teacher.linkdin }}"></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Instagram</h6>
                    <span class="text-secondary"><input type="text" name="insta" class="form-control" value="{{ teacher.insta }}"></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><i class="fa fa-facebook" aria-hidden="true">&nbsp;&nbsp;&nbsp;&nbsp;</i>Facebook</h6>
                    <span class="text-secondary"><input type="text" name="fb" class="form-control" value="{{ teacher.fb }}"></span>
                  </li>
                </ul>
               
                <div class="row">
                  <div class="col-sm-12">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Date Of Birth</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" style="text-align: right;">
                      <input type="date" name="date_of_birth" class="form-control" value="{{ teacher.date_of_birth }}" required>
                      
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Mobile No.</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" style="text-align: right;">
                      <input type="text" name="mobile_no" class="form-control" value="{{ teacher.mobile_no }}">
                      
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Gender</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" style="text-align: right;">
                      <input type="text" name="gender" class="form-control" value=" {{ teacher.gender }}">
                     
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Designation</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" style="text-align: right;">
                      <input type="text" name="designation" class="form-control" value=" {{ teacher.designation }}">
                      
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Institution</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" style="text-align: right;">
                      <input type="text" name="institution_type" class="form-control" value=" {{ teacher.institution_type }}">
                     
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                        
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Resume</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" style="text-align: right;">
                      <input type="file" name="resume" class="form-control" value=" {{ teacher.resume }}">
                      
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Join Date</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" style="text-align: right;">
                      <input type="date" name="join_date" class="form-control" value=" {{ teacher.join_date }}">
                      
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">City</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" style="text-align: right;">
                      <input type="text" name="city" class="form-control" value=" {{ teacher.city }}">
                      
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">State</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" style="text-align: right;">
                      <input type="text" name="state" class="form-control" value=" {{ teacher.state }}">
                      
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Pin</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" style="text-align: right;">
                      <input type="text" name="pin" class="form-control" value=" {{ teacher.pin }}">
                      
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Father Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" style="text-align: right;">
                      <input type="text" name="father_name" class="form-control" value="  {{ teacher.father_name }}">
                      
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Mother Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" style="text-align: right;">
                      <input type="text" name="mother_name" class="form-control" value="{{ teacher.mother_name }}">
                     
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Qualification</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" style="text-align: right;">
                      <input type="text" name="qualification" class="form-control" value="{{ teacher.qualification }}">
                      
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Marital Status</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" style="text-align: right;">
                      <input type="text" name="maritalStatus" class="form-control" value="{{ teacher.maritalStatus }}">
                      
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Parmanent Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" style="text-align: right;">
                      <input type="text" name="permanent_address" class="form-control" value="{{ teacher.permanent_address }}">
                      
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Work Experience</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" style="text-align: right;">
                      <input type="text" name="workExperience" class="form-control" value="{{ teacher.workExperience }}">
                      
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Current Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" style="text-align: right;">
                      <input type="text" name="current_Address" class="form-control" value="{{ teacher.Current_Address }}">
                      
                    </div>
                  </div>
                   <hr>
                  <div class="row">
                    <div class="col-sm-12">
                        <input type="submit" class="btn btn-primary px-4" value="Save Changes">
                        
                    </div>
                  </form>
                  </div>
                </div>
              </div>

            </div>
            
          </div>

        </div>
    </div>

    {% endblock main_content%}    