
{% extends 'forget_password_base.html' %}
{% block content %}
       
       <h2>Update Password</h2>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form class="login100-form validate-form" method="post">
            {% csrf_token %}
            <div class="wrap-input100 validate-input" data-validate="Enter OTP">
                {{ form.as_p }}
                <span class="focus-input100" data-placeholder="&#xf207;"></span>
            </div>
            <div class="container-login100-form-btn">
                <button class="login100-form-btn">Update Password</button>
                </div>
        </form>
        {% endblock content %}