{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'media/favicon.ico' %}">
    <!-- Author Meta -->
    <meta name="author" content="">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Schoolcorp</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    

    

        <!--
        CSS
        "{% static 'css/main.min.css' %}">
        ============================================= -->
        <link rel="stylesheet" href="{% static 'home_css/css/linearicons.css' %}">
        <link rel="stylesheet" href="{% static 'home_css/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'home_css/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'home_css/css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'home_css/css/nice-select.css' %}">					
        <link rel="stylesheet" href="{% static 'home_css/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'home_css/css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'home_css/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'home_css/css/contact.css' %}">
        <link rel="stylesheet" href="{% static 'home_css/css/slider.css' %}">
        <link rel="stylesheet" href="{% static 'home_css/css/footer.css' %}">
        <link rel="stylesheet" href="{% static 'home_css/css/popup.css' %}">
    </head>
    <body>

        {% block content %}{% endblock %}

		

        <script src="{% static 'home_css/js/vendor/jquery-2.2.4.min.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
          <script src="{% static 'home_css/js/easing.min.js' %}"></script>			
        <script src="{% static 'home_css/js/hoverIntent.js' %}"></script>
        <script src="{% static 'home_css/js/superfish.min.js' %}"></script>	
        <script src="{% static 'home_css/js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'home_css/js/jquery.magnific-popup.min.js' %}"></script>	
        <script src="{% static 'home_css/js/owl.carousel.min.js' %}"></script>			
        <script src="{% static 'home_css/js/jquery.sticky.js' %}"></script>
        <script src="{% static 'home_css/js/jquery.nice-select.min.js' %}"></script>			
        <script src="{% static 'home_css/js/parallax.min.js' %}"></script>		
        <script src="{% static 'home_css/js/mail-script.js' %}"></script>	
        <script src="{% static 'home_css/js/main.js' %}"></script>	
        <script src="{% static 'home_css/js/counter.js' %}"></script>
        <script src="{% static 'home_css/js/contact.js' %}"></script>
        <script src="{% static 'home_css/js/popup.js' %}"></script>
        <script src="{% static 'home_css/js/slider.js' %}"></script>
        <script src="{% static 'home_css/js/typing.js' %}"></script>

    </body>
</html>



