<!-- about_us.html -->
{% extends 'home_content/base.html' %}





{% block content %}
{% include 'home_content/nav.html'%}
{% include 'home_content/intro.html'%}
{% include 'home_content/number_count.html'%}
{% include 'home_content/jobs_around_u.html'%}
{% include 'home_content/featured.html'%}
{% include 'home_content/join.html'%}
{% include 'home_content/about_us.html'%}
{% include 'home_content/contact_us.html'%}
{% include 'home_content/review.html'%}
{% include 'home_content/footer.html'%}

{% endblock %}
