 {% load static %}
 <section class="features-area">
    <div class="container" >
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-feature">
                    <h4>School</h4>
                    <p>
                        
                        <span class="counter" style="color: #795fff; font-size: 27px;">1,148</span>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-feature">
                    <h4>Teacher</h4>
                    <p>
                        <span class="counter" style="color: #795fff; font-size: 27px;">2,331</span>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-feature">
                    <h4>Faculty</h4>
                    <p>
                        <span class="counter" style="color: #795fff; font-size: 27px;">5,364</span>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-feature">
                    <h4>Man Power</h4>
                    <p>
                        <span class="counter" style="color: #795fff; font-size: 27px;">1,764</span>
                    </p>
                </div>
            </div>																		
        </div>
    </div>	
</section>