{% load static %}
<section class="testimonial-area section-gap" id="review">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Testimonial from our Clients</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>						
        <div class="row">
            <div class="active-review-carusel">
                <div class="single-review">
                    <img src="{% static 'media/rajesh.png' %}" alt="">
                    <div class="title d-flex flex-row">
                        <h4>Rajesh Malhotra</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>								
                        </div>
                    </div>
                    <p>
                        As a teacher seeking opportunities closer to home, SchoolCorp.in has been an absolute game-changer! The user-friendly interface makes job hunting a breeze, and the extensive database of vacancies ensures there's something for every educator. Thanks to SchoolCorp.in, I found the perfect teaching position in my hometown without the usual hassle.
                    </p>
                </div>	
                <div class="single-review">
                    <img src="{% static 'media/rajiv.png' %}" alt="">
                    <div class="title d-flex flex-row">
                        <h4>Sanjeev kumar</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>								
                        </div>
                    </div>
                    <p>
                        SchoolCorp.in offers a comprehensive platform tailored specifically for educators like me. The website's intuitive design allows me to easily navigate through job listings, filter by location, and apply with just a few clicks. Thanks to SchoolCorp.in, I landed a fulfilling teaching job in my hometown, reconnecting with my community while pursuing my passion for education.
                    </p>
                </div>	
                <div class="single-review">
                    <img src="{% static 'media/thomas.png' %}" alt="">
                    <div class="title d-flex flex-row">
                        <h4>Shukanto gosh</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>								
                        </div>
                    </div>
                    <p>
                        SchoolCorp.in is a lifesaver for educators seeking employment in their hometown. The website's user-friendly interface streamlines the job search process, allowing me to browse openings, submit applications, and track my progress effortlessly. With SchoolCorp.in's extensive network of schools and educational institutions, I found a teaching position that aligns perfectly with my skills and interests, all within my desired location. Thank you, SchoolCorp.in, for making my job search stress-free and successful!
                    </p>
                </div>	
                <div class="single-review">
                    <img src="{% static 'media/sushmita.png' %}" alt="">
                    <div class="title d-flex flex-row">
                        <h4>Dr.Sunita raj</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>								
                        </div>
                    </div>
                    <p>
                        I can't recommend SchoolCorp.in enough to fellow teachers looking to work in their hometown. This platform goes above and beyond in connecting educators with local job opportunities. From primary schools to high schools, the website caters to diverse teaching roles, ensuring everyone finds their ideal fit. Thanks to SchoolCorp.in, I'm now teaching in the same town I grew up in, making a meaningful impact on the next generation.
                    </p>
                </div>								
            </div>
        </div>
    </div>	
</section>
